:root {
  --spacing: 1rem;
  --font-h: "Dongle", sans-serif;
  --font-all: "Source Sans Pro", sans-serif;
  --bg-colour: #211a1d;
  --bg-colour-l: #392d32;
  --text-colour: white;
  --gutter: 1200px;
  --radius: 5px;
}

* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: var(--bg-colour);
  margin: 0;
  font-family: var(--font-all);
  color: var(--text-colour);
  font-size: 19px;
}

main {
  margin: 0 auto;
  padding: 0 var(--spacing);
  width: 100%;
  max-width: var(--gutter);
}

h1,
h2,
h3 {
  font-family: var(--font-h);
}

h1 {
  font-size: 2.8rem;
}
h2 {
  font-size: 2.4rem;
}
h3 {
  font-size: 2rem;
}

form {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;

  label {
    display: grid;
    grid-template-rows: auto auto;
    margin-bottom: var(--spacing);
  }
}

[ng-reflect-router-link],
button {
  cursor: pointer;
}

[type="text"],
[type="password"],
[type="submit"],
[type="button"] {
  padding: calc(var(--spacing) / 2);
  background-color: var(--bg-colour-l);
  color: var(--text-colour);
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: var(--radius);
}

.form-buttons {
  display: inline-flex;
  gap: var(--spacing);
}
